// Custom application specific styles
//--------------------------------------


body {
    background: #6D1919;
    color: @appBlack;
}

.visualClear {
    clear: both;
}

a {
    outline: none !important;
}

.selected {
    a {
        background-color: none;
        color: @linkColor !important;
        box-shadow: none;
        padding: 9px 0px 0px 0px;   
    }
}

.navbar .nav > li > a {
    text-shadow: none;
}

body > header {
    #header {
        width: 800px;
        margin-top: 0px;
        background:url(../img/logo.jpg)  no-repeat 0 0;
        height: 319px;
        a:hover {text-decoration: none;}
        #logo {
            display: block;
            margin: 0px;
            border: 0px;
            float: right;
            text-indent: -9999999px;
            width: 800px;
            height: 222px;
            
        }
        .navbar {
            background: transparent !important;
            ul {
                margin: 0px 0px 0px 20px;
                background: transparent !important;
            }
            float: left;
            .navbar-inner {
                background: transparent !important;
                background-image: none;
                padding: @baseLineHeight 0px 0px 0px;
                box-shadow: none;
                filter: none;
                .nav {
                    background: transparent !important;
                    

                }
                #main-nav {
                    background: transparent !important;
                li {
                    text-align: center;
                    line-height: 25px;
                    display: inline;
                    
                    a {
                        color: @appBlack;
                        font-weight: normal;
                        text-transform: uppercase;
                        font-size: 13px;
                        padding: 0px 7px 2px 6px;
                        text-shadow: none !important;
                        border-right: 2px solid @appBlack;
                    }
                    a:hover {
                        background:url(../img/active.gif)  no-repeat center bottom;
                    }

                }
                .border-radius(0px);
            }
            }
        }
    }
    #toolbar + #header {
        margin-top: @navbarHeight;
    }
}

#portaltab-kontakt a {
    border: none !important;
}



// Base utility classes

.panel {
    width: 760px;
    margin: 0 auto;
    background: @white;
    .border-radius(0px);
    &.panel-news {
        padding: @baseLineHeight;
        margin-bottom: 0px;
        .box {
            border-right: 1px solid @grayLighter;
            padding-right: @baseLineHeight * 1.5;
        }
        h5 {
            color: @appBlue;
        }
        img {
            border-top: 4px solid;
        }
        p {
            margin-top: @baseLineHeight / 2;
            font-size: @fontSizeSmall;
            line-height: @baseLineHeight - 4;
        }
    }
}


.next {
    border: 0px solid red;
    background:url(../img/arrow-right.png)  no-repeat top left;
    padding: 0px 20px 20px 0px;
    text-indent: -9999999px;
    margin: -20px 0px 0px 0px;
    display: inline;
}

#below-content .listingBar .next {
   text-indent: 0px !important; 
   display: block;
   border: 0px solid red;
   margin: 0px;
   background: transparent;
   position: relative;
   float: right;
   padding: 0px;
}

#below-content .listingBar .prev  {
   text-indent: 0px !important; 
   display: block;
   border: 1px solid red;
}

.prev {
    border: 0px solid red;
    background:url(../img/arrow-left.png)  no-repeat 10px 0px;
    padding: 0px 0px 20px 20px;
    text-indent: -9999999px;
    margin: -20px 0px 0px 0px;
}

.carousel-info {
    float: right;
}

// Main content area styles

#portal-breadcrumbs {
    padding: @baseLineHeight / 2 20px;
    padding-left: 0px;
    font-size: @fontSizeMini;
}

#above-content {
    width: 760px;
    margin: 0px auto 0px auto;
    border-radius: @baseBorderRadius;
    .carousel {
        margin-bottom: 0px;
    }
    .carousel img {
        border-top-left-radius: @baseBorderRadius;
        border-top-right-radius: @baseBorderRadius;
    }
    .carousel-pager {
            margin: -40px 0px 0px 20px;
            position: absolute;
            .carousel-pager-item, 
            .carousel-pager-button-prev, 
            .carousel-pager-button-next {
                padding: 2px 5px;
                background: @appGrey;
                font-size: @fontSizeMini;
                a:link {

                }
            }
        }
    .carousel-text {
        background:url(../img/transparent.png)  repeat 0px 0px;
        .carousel-title {
            font-size: @fontSizeLarge  * 1.5;
            color: @appRed;
            margin-bottom: @baseLineHeight;
            display: block;
        }
        .carousel-body {
            line-height: @baseLineHeight;
            display: block;
        }
    }
}

#portal-breadcrumbs {
    display: none !important;
}

#wrapper {
    padding: @baseLineHeight;
}

#content {
    padding: 0;
    width: 760px;
    background: @white;
    h2, h3 {
        font-weight: bold;
        font-size: @fontSizeLarge;
    }
    .image-left {
    border: 1px dotted #999999 !important;
    padding: 10px;
    clear: both;
    float: left;
    margin: 0.5em 1em 0.5em 0;
}
.documentFirstHeading {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    color: #993300;
    font-size: 140%;
    font-weight: bold;
    margin: 0 0 10px;
    padding: 0;
    text-transform: uppercase;
}
    #frontpage-content {
    padding: 0;

    }
}

table.plain {
    width: 780px !important;
    td {
    background: none repeat scroll 0 0 #E59723;
    border: 2px solid white !important;
    padding: 10px 30px 10px 10px !important;
    vertical-align: top;
}
th {
    background: none repeat scroll 0 0 #E59723;
    border: 2px solid white !important;
    color: #6D1919;
    padding: 10px !important;
    text-align: left;
}
    }

#below-content {
    border: 0px solid red;
    width: 760px;
    margin: 0px auto;
}

#edit-bar {
  display: inline-block;
  padding: @baseLineHeight / 2;
  width: 100%;
  background: #999;
  font-size: @fontSizeSmall;
}


// site footer

body > footer {
    margin-bottom: 20px ;
    padding: 0;
    .footer-wrapper {
        border-top: 1px dotted @appBlack;
        padding-top: @baseLineHeight / 3;
    }
    #footer {
        padding: 0px 20px 0px 20px;
        width: 760px;
        text-shadow: none;
        background: white;
        a {
            color: @linkColor;
            }
        .signature {
            text-transform: uppercase;
            font-size: @fontSizeMini;
            color: @appBlack;   
            }
        .info {
            margin-bottom: @baseLineHeight;
            color: @appBlack;
            text-transform: uppercase;
            font-size: @fontSizeMini;
        }
    }
}
